.header__lang-link_ru {
  max-width: 30px;
  width: 100%;
  max-height: 28px;
  text-decoration: none;
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #fff;
}

@media screen and (max-width: 320px) {
  .header__lang-link_ru {
    font-size: 18px;
    line-height: 20px;
  }
}