.place__title {
  width: 100%;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-column: 1;
  grid-row: 1/2;
  margin: 0;
  column-gap: 48px;
}

@media screen and (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    width: 96%;
  }
}

@media screen and (max-width: 640px) {
  .place__title {
    max-width: 100%;
    padding-left: 22px;
    font-size: 32px;
    line-height: 35px;
    padding-bottom: 32px;
  }
}

@media screen and (max-width: 320px) {
  .place__title {
    max-width: 90%;
    margin: auto;
    padding-left: 0;
  }
}
