.photo-grid {
  list-style: none;
  padding: 0;
  width: calc(100% - 2 * 48px);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 16px;
  grid-template-rows: auto;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    gap: 14px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    gap: 15px;
    width: calc(100% - 2 * 23px);
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    gap: 12px;
    width: calc(100% - 2 * 16px);
    margin-bottom: 65px;
  }
}
