.places {
  width: 100%;
  padding-top: 92px;
  padding-bottom: 12px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .places {
    padding-bottom: 6px;
  }
}

@media screen and (max-width: 768px) {
  .places {
    margin: 0 auto 6px;
  }
}

@media screen and (max-width: 640px) {
  .places {
    width: 100%;
    padding: 0;
    margin: 64px auto 0;
  }
}
