.lead {
  width: calc(100% - 2 * 148px);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 53px auto 92px;
}

@media screen and (max-width: 1024px) {
  .lead {
    width: calc(100% - 2 * 48px);
    margin-top: 44px;
  }
}

@media screen and (max-width: 768px) {
  .lead {
    width: 100%;
    margin-bottom: 91px;
  }
}

@media screen and (max-width: 320px) {
  .lead {
    margin: 46px auto 64px;
  }
}
