.content {
	max-width: 1280px;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

@media screen and (max-width: 1024px) {
	.content {
		max-width: 1024px;
	}
}

@media screen and (max-width: 768px) {
	.content {
		max-width: 768px;
	}
}

@media screen and (max-width: 320px) {
	.content {
		max-width: 320px;
	}
}