.place__paragraphs {
  grid-column: 2;
  grid-row: 2/4;
  max-width: 484px;
  width: 100%;
  margin: 0;
}

@media screen and (max-width: 320px){
  .place__paragraphs {
    max-width: 90%;
    margin: 32px auto 25px;
  }
}

