.place__paragraph {
  font-weight: 400px;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding-bottom: 25px;
}

@media screen and (max-width: 768px){
  .place__paragraph {
    max-width: 352px;
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width: 320px){
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}
