.intro {
  margin: 0 0 92px 148px;
  max-width: 690px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    max-width: 720px;
    margin: 0 24px 88px;
  }
 }
 
@media screen and (max-width: 320px) {
  .intro {
    max-width: 285px;
    margin: 0 16px 64px;
  }
}