.place__website {
  grid-column: 2;
  grid-row: 1/2;
  align-self: end;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .place__website {
  max-width: 456px;
  }
}

@media screen and (max-width: 452px) {
  .place__website {
  margin-left: 16px;
  }
}